---
### The following three code snippets were created by Matt Zeunert and are available at http://www.rexamples.com/1/R%20Basics

In [1]:
a <- 42
A <- a * 2  # R is case sensitive
print(a)
cat(A, "\n") # "84" is concatenated with "\n"
if(A>a) # true, 84 > 42
{
  cat(A, ">", a, "\n")
}

[1] 42

84

84 > 42

In [2]:
Square <- function(x) {
  return(x^2)
}

print(Square(4))
print(Square(x=4)) # same thing

[1] 16

[1] 16

In [3]:
sum(0:9)
append(LETTERS[1:13],letters[14:26])
c(1,6,4,9)*2
something <- c(1,4,letters[2])  # indices start at one, you get (1,4,"b")
length(something)

---
### Some additional code snippets you might find useful.

In [16]:
data <- read.csv(file="Data/2016collisionsfinal.csv", header=TRUE, sep=",", stringsAsFactors=FALSE)
head(data, n=2)

Record,Location,X,Y,Date,Time,Environment,Road_Surface,Traffic_Control,Collision_Location,Light,Collision_Classification,Impact_type
1,105 S OF COMMISSIONER ST @ ALBERT ST,366666.2747,5030879.415,8/4/16,17:03,01 - Clear,01 - Dry,01 - Traffic signal,02 - Intersection related,01 - Daylight,03 - P.D. only,04 - Sideswipe
2,210 W OF MERIVALE RD @ WEST HUNT CLUB RD,365431.439,5021830.23,3/30/16,15:44,01 - Clear,01 - Dry,01 - Traffic signal,03 - At intersection,01 - Daylight,02 - Non-fatal injury,05 - Turning movement

In [5]:
#jupyter notebooks remember variables from previous cells
length(data[,3])

In [18]:
data[1,2]
head(data[,3])